<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory >
  <property name="hbm2ddl.auto">update</property>
  <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
  <property name="connection.url">jdbc:mysql://localhost:3306/employee?useSSL=false&amp;useUnicode=true&amp;useJDBCCompliantTimezoneShift=true&amp;useLegacyDatetimeCode=false&amp;serverTimezone=GMT</property>
  <property name="connection.username">root</property>
  <property name="connection.password">sparafra</property>
  <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
  <mapping class="modelHibernate.Restaurant"/>
  <mapping class="modelHibernate.Analytic"/>
  <mapping class="modelHibernate.Ingredient"/>
  <mapping class="modelHibernate.Log"/>
  <mapping class="modelHibernate.Notice"/>
  <mapping class="modelHibernate.Order"/>
  <mapping class="modelHibernate.Product"/>
  <mapping class="modelHibernate.ProductOrder"/>
  <mapping class="modelHibernate.Type"/>
  <mapping class="modelHibernate.User"/>
  <mapping class="modelHibernate.ReviewRestaurant"/>
  <mapping class="modelHibernate.ReviewProduct"/>
  <mapping class="modelHibernate.Review"/>
    
 </session-factory>
</hibernate-configuration>
